<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Members list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item routerLink="/tabs/tab2/member-details/{{member.payload.doc.id}}" *ngFor="let member of memberSrv.members | async;">
      <!-- <ion-label>{{member.payload.doc.id}}</ion-label> -->
      <ion-label>{{member.payload.doc.data().name}}</ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/tab1">
      <ion-icon name="add" />
    </ion-fab-button>
  </ion-fab>

</ion-content>
