<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add New meal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Meal ID</ion-label>
      <ion-input [(ngModel)]="id" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Meal Title:</ion-label>
      <ion-input [(ngModel)]="title" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Meal Image:</ion-label>
      <ion-input [(ngModel)]="imageFile"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">List of Ingredients</ion-label>
      <ion-input *ngFor="let item of try">{{item}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="newItem"></ion-input>
      <ion-button item-end icon-only clear (click)="more()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Diet Type</ion-label>
      <ion-select [(ngModel)]="type">
        <ion-select-option value="Normal Diet">Normal diet</ion-select-option>
        <ion-select-option value="Low Carbs">Low carbs</ion-select-option>
        <ion-select-option value="Low Fat">Low fat</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Calories</ion-label>
      <ion-input [(ngModel)]="calo"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="secondary" (click)="add()">Add</ion-button>

  <ion-footer style="margin-top: 10px;">
    <ion-label>
      Ghaith Abdulmawla Ahmed - 20194439
    </ion-label><br>
    <ion-label>
      May Yusuf Almannaei - 202003303
    </ion-label>
  </ion-footer>

</ion-content>
