<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start" (click)="goBack()" fill="clear">
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </ion-button>
    <ion-title>Member Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{memberDetails?.name}}'s Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">Name: </ion-col>
          <ion-col size="6">{{memberDetails?.name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">Age: </ion-col>
          <ion-col size="6">{{memberDetails?.age}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">Gender: </ion-col>
          <ion-col size="6">{{memberDetails?.gender}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">Phone Number: </ion-col>
          <ion-col size="6">{{memberDetails?.phoneNumber}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">Diet Type: </ion-col>
          <ion-col size="6">{{memberDetails?.dietType}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">SubscriptionPlan: </ion-col>
          <ion-col size="6"> {{memberDetails?.subscriptionPlan}}</ion-col>
       <ion-col><ion-select [(ngModel)]="subs" placeholder="Subscription plan">
        <ion-select-option value="1">1 Month</ion-select-option>
        <ion-select-option value="3">3 Months</ion-select-option>
        <ion-select-option value="6">6 Months</ion-select-option>
      </ion-select>
      <ion-button (click)="upd()" fill="clear" color="success">Edit</ion-button>
    </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3">Total Fees: </ion-col>
          <ion-col size="6">{{memberDetails?.totalFees}}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-label>Choose 5 meals from the available meals for your diet:</ion-label>
      <ion-list *ngIf="meals && meals.length > 0">

          <ion-item *ngFor="let meal of meals">
            <ion-label>{{meal.title}}</ion-label>
            <ion-checkbox [(ngModel)]="meal.selected" (ionChange)="onMealSelect(meal)"></ion-checkbox>
          </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-list-header>Selected Meals:</ion-list-header>
    <ion-item>
      <ion-label>ID</ion-label>
      <ion-label>Title</ion-label>
      <ion-label>Calo</ion-label>
    </ion-item>
      <ion-item *ngFor="let selMeal of selMeals | async">
        <ion-label>{{selMeal.id}}</ion-label>
        <ion-label>{{selMeal.title}}</ion-label>
        <ion-label>{{selMeal.calories}}</ion-label>
      </ion-item>

  </ion-list>
</ion-content>
